In [1]:
import pandas as pd

file_path = 'T_ONTIME_REPORTING.csv'

df = pd.read_csv(file_path)

print(df)

        YEAR  MONTH  DAY_OF_MONTH  DAY_OF_WEEK  ORIGIN_AIRPORT_ID  \
0       2025      1             1            3              10135
1       2025      1             1            3              10135
2       2025      1             1            3              10135
3       2025      1             1            3              10135
4       2025      1             1            3              10135
...      ...    ...           ...          ...                ...
539742  2025      1            31            5              16869
539743  2025      1            31            5              16869
539744  2025      1            31            5              16869
539745  2025      1            31            5              16869
539746  2025      1            31            5              16869

        ORIGIN_AIRPORT_SEQ_ID  DEST_AIRPORT_ID  DEST_AIRPORT_SEQ_ID  \
0                     1013506            11057              1105703
1                     1013506            11057              1105703
2                     1013506            11057              1105703
3                     1013506            14082              1408203
4                     1013506            14112              1411206
...                       ...              ...                  ...
539742                1686902            11292              1129202
539743                1686902            11292              1129202
539744                1686902            11292              1129202
539745                1686902            13487              1348702
539746                1686902            13487              1348702

        DEST_CITY_MARKET_ID DEST      DEST_CITY_NAME  CRS_DEP_TIME  DEP_TIME  \
0                     31057  CLT       Charlotte, NC           606     556.0
1                     31057  CLT       Charlotte, NC          1219    1215.0
2                     31057  CLT       Charlotte, NC          1738    1730.0
3                     34082  PGD     Punta Gorda, FL           830     820.0
4                     33195  PIE  St. Petersburg, FL          1551    1547.0
...                     ...  ...                 ...           ...       ...
539742                30325  DEN          Denver, CO          1345    1514.0
539743                30325  DEN          Denver, CO          1515    1711.0
539744                30325  DEN          Denver, CO          1705    1725.0
539745                31650  MSP     Minneapolis, MN           715     706.0
539746                31650  MSP     Minneapolis, MN          1240    1234.0

        DEP_DELAY  DEP_DELAY_NEW  CRS_ARR_TIME  ARR_TIME  ARR_DELAY  \
0           -10.0            0.0           812     736.0      -36.0
1            -4.0            0.0          1417    1405.0      -12.0
2            -8.0            0.0          1934    1920.0      -14.0
3           -10.0            0.0          1130    1127.0       -3.0
4            -4.0            0.0          1850    1837.0      -13.0
...           ...            ...           ...       ...        ...
539742       89.0           89.0          1500    1638.0       98.0
539743      116.0          116.0          1630    1849.0      139.0
539744       20.0           20.0          1820    1908.0       48.0
539745       -9.0            0.0           927     917.0      -10.0
539746       -6.0            0.0          1445    1426.0      -19.0

        ARR_DELAY_NEW
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0
...               ...
539742           98.0
539743          139.0
539744           48.0
539745            0.0
539746            0.0

[539747 rows x 19 columns]

In [2]:
df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW
0,2025,1,1,3,10135,1013506,11057,1105703,31057,CLT,"Charlotte, NC",606,556.0,-10.0,0.0,812,736.0,-36.0,0.0
1,2025,1,1,3,10135,1013506,11057,1105703,31057,CLT,"Charlotte, NC",1219,1215.0,-4.0,0.0,1417,1405.0,-12.0,0.0
2,2025,1,1,3,10135,1013506,11057,1105703,31057,CLT,"Charlotte, NC",1738,1730.0,-8.0,0.0,1934,1920.0,-14.0,0.0
3,2025,1,1,3,10135,1013506,14082,1408203,34082,PGD,"Punta Gorda, FL",830,820.0,-10.0,0.0,1130,1127.0,-3.0,0.0
4,2025,1,1,3,10135,1013506,14112,1411206,33195,PIE,"St. Petersburg, FL",1551,1547.0,-4.0,0.0,1850,1837.0,-13.0,0.0

In [3]:
#Renaming the columns

df.rename(columns = {
    'YEAR': 'Year',
    'MONTH': 'Month',
    'DAY_OF_MONTH': 'Day',
    'DAY_OF_WEEK': 'DayofWeek',
    'ORIGIN_AIRPORT_ID': 'OriginAirportID',
    'DEST_AIRPORT_ID': 'DestAirportID',
    'DEST_AIRPORT_SEQ_ID': 'DestAirportSeqID',
    'CRS_DEP_TIME': 'CRSDepTime',
    'DEP_TIME': 'DepTime',
    'DEP_DELAY_NEW': 'DepDelayMinutes',
    'DEP_DELAY': 'DepDelay',
    'CRS_ARR_TIME': 'CRSArrTime',
    'ARR_TIME': 'ArrTime',
    'ARR_DELAY': 'ArrDelay',
    'ARR_DELAY_NEW': 'ArrDelayMinutes'
}, inplace=True)

In [4]:
# Specify columns to keep
columns_needed = [
    'Year', 'Month', 'Day', 'DayofWeek', 'OriginAirportID',
    'DestAirportID', 'DestAirportSeqID',
    'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes', 
    'CRSArrTime', 'ArrTime', 'ArrDelay', 'ArrDelayMinutes'
]

# Filter the dataframe to keep only the specified columns
filtered_df = df[columns_needed]

filtered_df

,Year,Month,Day,DayofWeek,OriginAirportID,DestAirportID,DestAirportSeqID,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes
0,2025,1,1,3,10135,11057,1105703,606,556.0,-10.0,0.0,812,736.0,-36.0,0.0
1,2025,1,1,3,10135,11057,1105703,1219,1215.0,-4.0,0.0,1417,1405.0,-12.0,0.0
2,2025,1,1,3,10135,11057,1105703,1738,1730.0,-8.0,0.0,1934,1920.0,-14.0,0.0
3,2025,1,1,3,10135,14082,1408203,830,820.0,-10.0,0.0,1130,1127.0,-3.0,0.0
4,2025,1,1,3,10135,14112,1411206,1551,1547.0,-4.0,0.0,1850,1837.0,-13.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539742,2025,1,31,5,16869,11292,1129202,1345,1514.0,89.0,89.0,1500,1638.0,98.0,98.0
539743,2025,1,31,5,16869,11292,1129202,1515,1711.0,116.0,116.0,1630,1849.0,139.0,139.0
539744,2025,1,31,5,16869,11292,1129202,1705,1725.0,20.0,20.0,1820,1908.0,48.0,48.0
539745,2025,1,31,5,16869,13487,1348702,715,706.0,-9.0,0.0,927,917.0,-10.0,0.0
539746,2025,1,31,5,16869,13487,1348702,1240,1234.0,-6.0,0.0,1445,1426.0,-19.0,0.0

In [5]:
# Selecting the relevant columns and create a column
filtered_df = filtered_df[[    'Year', 'Month', 'Day', 'DayofWeek', 'OriginAirportID',
    'DestAirportID', 'DestAirportSeqID',
    'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes', 
    'CRSArrTime', 'ArrTime', 'ArrDelay', 'ArrDelayMinutes'
]].copy()


print(filtered_df)

        Year  Month  Day  DayofWeek  OriginAirportID  DestAirportID  \
0       2025      1    1          3            10135          11057
1       2025      1    1          3            10135          11057
2       2025      1    1          3            10135          11057
3       2025      1    1          3            10135          14082
4       2025      1    1          3            10135          14112
...      ...    ...  ...        ...              ...            ...
539742  2025      1   31          5            16869          11292
539743  2025      1   31          5            16869          11292
539744  2025      1   31          5            16869          11292
539745  2025      1   31          5            16869          13487
539746  2025      1   31          5            16869          13487

        DestAirportSeqID  CRSDepTime  DepTime  DepDelay  DepDelayMinutes  \
0                1105703         606    556.0     -10.0              0.0
1                1105703        1219   1215.0      -4.0              0.0
2                1105703        1738   1730.0      -8.0              0.0
3                1408203         830    820.0     -10.0              0.0
4                1411206        1551   1547.0      -4.0              0.0
...                  ...         ...      ...       ...              ...
539742           1129202        1345   1514.0      89.0             89.0
539743           1129202        1515   1711.0     116.0            116.0
539744           1129202        1705   1725.0      20.0             20.0
539745           1348702         715    706.0      -9.0              0.0
539746           1348702        1240   1234.0      -6.0              0.0

        CRSArrTime  ArrTime  ArrDelay  ArrDelayMinutes
0              812    736.0     -36.0              0.0
1             1417   1405.0     -12.0              0.0
2             1934   1920.0     -14.0              0.0
3             1130   1127.0      -3.0              0.0
4             1850   1837.0     -13.0              0.0
...            ...      ...       ...              ...
539742        1500   1638.0      98.0             98.0
539743        1630   1849.0     139.0            139.0
539744        1820   1908.0      48.0             48.0
539745         927    917.0     -10.0              0.0
539746        1445   1426.0     -19.0              0.0

[539747 rows x 15 columns]

In [6]:
filtered_df.to_csv('filtered_dataset.csv', index = False)

In [7]:
# Filtering rows 

filtered_df = filtered_df[filtered_df['DestAirportID'] == 11298].copy()

print(filtered_df)

        Year  Month  Day  DayofWeek  OriginAirportID  DestAirportID  \
6       2025      1    1          3            10136          11298
7       2025      1    1          3            10136          11298
8       2025      1    1          3            10136          11298
9       2025      1    1          3            10136          11298
10      2025      1    1          3            10136          11298
...      ...    ...  ...        ...              ...            ...
539717  2025      1   31          5            15919          11298
539718  2025      1   31          5            15919          11298
539719  2025      1   31          5            15919          11298
539720  2025      1   31          5            15919          11298
539736  2025      1   31          5            16218          11298

        DestAirportSeqID  CRSDepTime  DepTime  DepDelay  DepDelayMinutes  \
6                1129806         627    622.0      -5.0              0.0
7                1129806         800    755.0      -5.0              0.0
8                1129806        1035   1029.0      -6.0              0.0
9                1129806        1446   1438.0      -8.0              0.0
10               1129806        1809   1805.0      -4.0              0.0
...                  ...         ...      ...       ...              ...
539717           1129806        1218   1213.0      -5.0              0.0
539718           1129806        1411   1406.0      -5.0              0.0
539719           1129806        1623   1631.0       8.0              8.0
539720           1129806        1848   1906.0      18.0             18.0
539736           1129806         722    712.0     -10.0              0.0

        CRSArrTime  ArrTime  ArrDelay  ArrDelayMinutes
6              728    709.0     -19.0              0.0
7              901    854.0      -7.0              0.0
8             1136   1127.0      -9.0              0.0
9             1543   1524.0     -19.0              0.0
10            1906   1847.0     -19.0              0.0
...            ...      ...       ...              ...
539717        1343   1323.0     -20.0              0.0
539718        1538   1514.0     -24.0              0.0
539719        1750   1752.0       2.0              2.0
539720        2020   2023.0       3.0              3.0
539736        1106   1047.0     -19.0              0.0

[25125 rows x 15 columns]

In [8]:
# Check for missing values by column
missing_values = filtered_df.isnull().sum()

# Print results
print(missing_values)

Year                   0
Month                  0
Day                    0
DayofWeek              0
OriginAirportID        0
DestAirportID          0
DestAirportSeqID       0
CRSDepTime             0
DepTime             1578
DepDelay            1581
DepDelayMinutes     1581
CRSArrTime             0
ArrTime             1611
ArrDelay            1686
ArrDelayMinutes     1686
dtype: int64

In [9]:
# Drop rows with missing values
filtered_df.dropna(subset = ['DepTime', 'DepDelay',
                             'DepDelayMinutes', 'ArrTime', 'ArrDelay', 'ArrDelayMinutes'], inplace = True)

# Check for missing values by column
missing_values = filtered_df.isnull().sum()

# Print results
print(missing_values)

Year                0
Month               0
Day                 0
DayofWeek           0
OriginAirportID     0
DestAirportID       0
DestAirportSeqID    0
CRSDepTime          0
DepTime             0
DepDelay            0
DepDelayMinutes     0
CRSArrTime          0
ArrTime             0
ArrDelay            0
ArrDelayMinutes     0
dtype: int64

In [10]:
# Dropping spaces of each cell
filtered_df = filtered_df.map(lambda x: x.strip() if isinstance(x, str) else x)

print(filtered_df)

        Year  Month  Day  DayofWeek  OriginAirportID  DestAirportID  \
6       2025      1    1          3            10136          11298
7       2025      1    1          3            10136          11298
8       2025      1    1          3            10136          11298
9       2025      1    1          3            10136          11298
10      2025      1    1          3            10136          11298
...      ...    ...  ...        ...              ...            ...
539717  2025      1   31          5            15919          11298
539718  2025      1   31          5            15919          11298
539719  2025      1   31          5            15919          11298
539720  2025      1   31          5            15919          11298
539736  2025      1   31          5            16218          11298

        DestAirportSeqID  CRSDepTime  DepTime  DepDelay  DepDelayMinutes  \
6                1129806         627    622.0      -5.0              0.0
7                1129806         800    755.0      -5.0              0.0
8                1129806        1035   1029.0      -6.0              0.0
9                1129806        1446   1438.0      -8.0              0.0
10               1129806        1809   1805.0      -4.0              0.0
...                  ...         ...      ...       ...              ...
539717           1129806        1218   1213.0      -5.0              0.0
539718           1129806        1411   1406.0      -5.0              0.0
539719           1129806        1623   1631.0       8.0              8.0
539720           1129806        1848   1906.0      18.0             18.0
539736           1129806         722    712.0     -10.0              0.0

        CRSArrTime  ArrTime  ArrDelay  ArrDelayMinutes
6              728    709.0     -19.0              0.0
7              901    854.0      -7.0              0.0
8             1136   1127.0      -9.0              0.0
9             1543   1524.0     -19.0              0.0
10            1906   1847.0     -19.0              0.0
...            ...      ...       ...              ...
539717        1343   1323.0     -20.0              0.0
539718        1538   1514.0     -24.0              0.0
539719        1750   1752.0       2.0              2.0
539720        2020   2023.0       3.0              3.0
539736        1106   1047.0     -19.0              0.0

[23439 rows x 15 columns]

In [11]:
# Saving filtered dataset

filtered_df.to_excel('filtered_dataframe.xlsx', index = False)